<!DOCTYPE HMTL>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>CSV Analyzer</title>
        <link href="stylesheet.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" 
            src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js">
        </script>
        <script src="jquery-1.11.0.js"></script>
        <script type="text/javascript" src="csv.js"></script>
        <meta name="author" content="Adrian Mesa">
        <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro" 
              rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="node_modules/mocha/mocha.css">

        <script type="test/html" id='parsedTable'>
            <table id="result">
                <% _.each(items, function(name) { %>
                <tr class="<%= name.row %>">
                    <% _.each(name.value, function(cell) { %>
                    <td><%= cell %></td>
                    <% }); %>
                </tr>
                <% }); %>
            </table>
        </script>

    </head>
    <body>
        <br>
        <br>
        <h1>Comma Separated Value Analyzer</h1>
        <div style="width: 50%; margin: 0 auto;">
            <span>Write a CSV string. Click the table button.</span>
            <br>
            <span> The program outputs a table with the specified data.</span>
        </div>
        <br>
        <table>
            <tr>
                <th>CSV string:</th> <!-- autofocus attribute is HTML5 -->
                <td>
                    <textarea autofocus cols = "40" rows = "5" id="original">
                    </textarea>
                </td> 
            </tr>
        </table>
        <div style="width: 20%; margin: 0 auto;">
            <br>
            <button type="button">Check</button><br>
            <br>
        </div>
        <span class="output" id="finaltable"></span>

        <div id="mocha"></div>
        <script src="http://chaijs.com/chai.js"></script>
        <script type="text/javascript" src="csv.js"></script>
        <script src="node_modules/mocha/mocha.js"></script>
        <script>mocha.setup('tdd')</script>
        <script src="tests.js"></script>
        <script>mocha.run();</script>

        <div id="footer">
            <ul>
                <li><a href="alu0100614220.github.io">Adrian Mesa Jaubert</a></li>
                <li><a href="https://github.com/alu0100614220/">GitHub</a></li>
                <br>
                <li><a href="https://alu0100502923.github.io/">Juan Antonio Oliva</a></li>
                <li><a href="https://github.com/alu0100502923/">GitHub</a></li>
                
        </div>

    </body>
</html>
